<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PHP-Challenge4,5,6/capstone4-mvc/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
